@import 'assets/css/variables.css';
@import 'assets/css/base.css';
@import 'assets/css/components.css';
@import 'assets/css/header.css';
@import 'assets/css/hero.css';
@import 'assets/css/sections.css';
@import 'assets/css/contact.css';
@import 'assets/css/footer.css';
@import 'assets/css/pages.css';
@import 'assets/css/litters.css';
@import 'assets/css/responsive.css';